<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <% if (currentUser) { %>
    <a href="/profile">
      <div class="navbar-item py-0 mt-2">
        <img class="image is-48x48" src="<%= currentUser.profilePicture && currentUser.profilePicture[0] ? currentUser.profilePicture[0].url : defaultUserImg  %>" alt="Your Profile Picture" style=" object-fit: cover;" />
        <span class="navbar-item">
          <strong><%= currentUser.username %></strong>
        </span>
      </div>
    </a>
    <% } %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/feed">
        Feed
      </a>

      <a class="navbar-item" href="/shop">
        Shop
      </a>

      <a class="navbar-item" href="/startBusiness">
        Start a business
      </a>
      <a class="navbar-item" href="/jobs">
        Jobs
      </a>
      <a class="navbar-item" href="/marketing">
        Marketing Assistance
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item" href="/about">
        About
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item" href="/issues/report">
        Report Issue
      </a>
    </div>
    <div class="navbar-end mx-2">
      <div class="navbar-item">
        <div class="buttons">
          <% if (!currentUser) { %>
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
          <% } else { %>
          <a class="button is-light" href="/logout">
            Log out
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>