<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if (currentUser) { %>
      <a href="/profile">
        <div class="navbar-item">
          <!-- Profile Picture -->
          <figure class="image is-40x40 is-inline-block">
            <img class="navbar-profile-image" src="<%= currentUser.profilePicture && currentUser.profilePicture[0] ? currentUser.profilePicture[0].url : 'https://bulma.io/images/placeholders/128x128.png' %>" alt="Your Profile Picture" />
          </figure>

          <!-- Username -->
          <span class="navbar-item">
            <strong><%= currentUser.username %></strong>
          </span>
        </div>
      </a>
      <% } %>
      <a class="navbar-item" href="/feed">
        Feed
      </a>

      <a class="navbar-item" href="/shop">
        Shop
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">

          <a class="navbar-item" href="/startBusiness">
            Start a business
          </a>
          <a class="navbar-item" href="/jobs">
            Jobs
          </a>
          <a class="navbar-item" href="/marketing">
            Marketing Assistance
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/about">
            About
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end mx-2">
      <div class="navbar-item">
        <div class="buttons">
          <% if (!currentUser) { %>
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
          <% } else { %>
          <a class="button is-light" href="/logout">
            Log out
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar-profile-image {
    width: 40px;
    /* Adjust the width */
    height: 40px;
    /* Adjust the height to match */
    border-radius: 50%;
    /* Ensure it's a circle */
    object-fit: cover;
    /* Maintain aspect ratio */
  }
</style>