<% layout('layouts/boilerplate')%>
<div class="container is-max-tablet m-6">
  <div class="tabs is-centered is-medium is-boxed">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas"></i></span>
          <span>Feed</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas"></i></span>
          <span>Shop</span>
        </a>
      </li>
    </ul>
  </div>
</div>