<% layout('layouts/boilerplate')%>
<div class="container is-max-tablet">
  <% if(currentUser){ %>
  <a class="button" href="/addJob">Add a job</a>
  <% }else{ %>
  <p>You miss all the shots you dont take</p>
  <% } %>
  <table class="table">
    <thead>
      <tr>
        <th> Title</th>
        <th> Department</th>
        <th> Company</th>
        <th> Date</th>
        <th> Salary Range</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th> Title</th>
        <th> Department</th>
        <th> Company</th>
        <th> Date</th>
        <th> Salary Range</th>
      </tr>
    </tfoot>

    <tbody>
      <tr>
        <td>Head Chef</td>
        <td>Cooking</td>
        <td>Mamas Kitchen</td>
        <td>09/11/2024</td>
        <td>300</td>
      </tr>
      <tr>
        <td>IT Tech Support</td>
        <td>IT</td>
        <td>Google</td>
        <td>04/11/2024</td>
        <td>450</td>
      </tr>
    </tbody>
  </table>
</div>