<% layout('layouts/boilerplate')%>
<div class="container">
  <h1 class="title has-text-centered">Terms of Service</h1>
  <div class="content">
    <p><strong>Effective Date:</strong> December 2024</p>

    <h2 class="subtitle">1. Introduction</h2>
    <p>Welcome to our website. By using our services, you agree to comply with these Terms of Service.</p>

    <h2 class="subtitle">2. Acceptance of Terms</h2>
    <p>By accessing or using our website, you accept and agree to be bound by these Terms of Service.</p>

    <h2 class="subtitle">3. User Responsibilities</h2>
    <p>As a user, you agree not to misuse the services provided, and to comply with the applicable laws.</p>

    <h2 class="subtitle">4. Modifications</h2>
    <p>We reserve the right to modify these Terms of Service at any time. All changes will be posted on this page.</p>


    <div class="has-text-centered">
      <a href="/" class="button is-primary">Back to Home</a>
    </div>
  </div>
</div>
</section>