<% layout('layouts/boilerplate') %>

<div class="container is-max-tablet">
  <div class="box my-5">
    <form action="/login" method="POST" class="validated-form">
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input " type="text" name="username" placeholder="Username" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user">
              <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#00d1b2">
                <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2Z" stroke="#00d1b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M4.271 18.3457C4.271 18.3457 6.50002 15.5 12 15.5C17.5 15.5 19.7291 18.3457 19.7291 18.3457" stroke="#00d1b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z" stroke="#00d1b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" name="password" placeholder="Password" required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock">
              <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#00d1b2">
                <path d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V19.4C18 19.7314 17.7314 20 17.4 20H6.6C6.26863 20 6 19.7314 6 19.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 6.66667 15.2 4 12 4C8.8 4 8 6.66667 8 8V12M16 12H8" stroke="#00d1b2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">Login</button>
        </div>
        <div class="control">
          <a href="/"><button type="button" class="button is-link is-light">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>